---
layout: page
header-img: "img/logo.png"
header-author: "Supakorn Laohasongkram"
---
<div itemscope='itemscope' itemtype='http://schema.org/Blog' style='display: none;'>
<meta content='True Happiness' itemprop='name'/>
</div>
{% for post in paginator.posts %}
<div class="post-preview" itemscope itemtype='http://schema.org/BlogPosting'>
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{site.url}}"/>
    <meta content="{{site.url}}{{ post.url }}" itemprop='url'/>
    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="{{site.url}}{{site.logo}}">
      <meta itemprop="width" content="1200">
      <meta itemprop="height" content="630">
    </div>
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{site.url}}{{site.logo}}">
      </div>
      <meta itemprop="name" content="{{site.title}}">
    </div>
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title" itemprop='name headline'>            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle" itemprop='description'>
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <!-- <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p> -->
    <span class='fn' itemprop='author' itemscope='itemscope' itemtype='http://schema.org/Person'>
    <meta content='{{site.url}}' itemprop='url'/>
    <span itemprop='name' style="display: none;">{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}</span>
    </span>
    <p class="post-meta" itemprop='datePublished' title='{{ post.date }}'>{{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    <li>
        <a href="/posts">See All Posts</a>
    </li>
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}