<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid shadow">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ site.baseurl }}/main">Home</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/start_here">Start Here</a>
                </li>         
                <li>
                    <a href="/tags/true-happiness-essential">Essential</a>
                </li>          
                <!-- <li><a href="{{ site.baseurl }}/table_of_contents">Table of Contents</a></li> -->
     <!--            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Essential</a>
                  <ul class="dropdown-menu">
                      <li><a href="/principles_of_happiness/what_is_happiness">What is Happiness?</a></li>
                      <li><a href="/principles_of_happiness/cause_of_happiness">What is Cause of Happiness?</a></li>
                      <li><a href="/principles_of_happiness/how_of_happiness">How to Attain Happiness?</a></li>
                      <li><a href="/principles_of_happiness/why_true_happiness">Why Happiness?</a></li>
                  </ul>
                </li> -->
                <li><a href="{{ site.baseurl }}/posts">Archive</a></li>
                <li><a href="{{ site.baseurl }}/forum">Forum</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/join_us">Join Us</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
