---
layout: default
---
<div itemprop='blogPost' itemscope='itemscope' itemtype='http://schema.org/BlogPosting'>
<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{site.url}}"/>
<meta content="{{site.url}}{{ post.url }}" itemprop='url'/>
<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
  <meta itemprop="url" content="{{site.url}}{{site.logo}}">
  <meta itemprop="width" content="1200">
  <meta itemprop="height" content="630">
</div>
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="{{site.url}}{{site.logo}}">
  </div>
  <meta itemprop="name" content="{{site.title}}">
</div>

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 itemprop='name'>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="rainbow">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" itemprop='description articleBody'>
			{{ content }}
		</div>
	</div>
</div>

<span class='fn' itemprop='author' itemscope='itemscope' itemtype='http://schema.org/Person'>
<meta content='{{site.url}}' itemprop='url'/>
<span itemprop='name' style="display: none;">{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}</span>
</span>
<p style="display: none;" itemprop='datePublished' title='{{ page.date }}'>{{ post.date | date: "%B %-d, %Y" }}</p>

</div>