---
layout: default
---

{% assign post = page %}

<div itemprop='blogPost' itemscope='itemscope' itemtype='http://schema.org/BlogPosting'>
<meta content="{{site.url}}" itemprop='blogId'/>
<meta content="{{site.url}}{{ post.url }}" itemprop='postId'/>

<!-- Post Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 itemprop='name'>{{ page.title }}</h1><hr class="rainbow">
                 <!--    {% if page.subtitle %}
                    <h4 class="subheading">{{ page.subtitle }}</h4>
                    {% endif %} -->
                    <div id="post_info" class="text-center">
                        <span class="meta" itemprop='author' itemscope='itemscope' itemtype='http://schema.org/Person' style="display: inline;">
                            By {% if page.author %}
                            <meta content='{{ site.url }}{{ page.url }}' itemprop='url'/>
                            <a href="/about" style="color:#808080;"><span itemprop='name'>{{ page.author }}</span></a>
                            {% else %}{{ site.title }}{% endif %} on 
                        </span>
                        <span itemprop='datePublished' title='{{ page.date }}'>{{ page.date | date: "%B %-d, %Y" }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>
    <div class="container post_content_padding">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" itemprop='description articleBody'>
				{{ content }}

                {% if post.tags.size > 0 %}
                    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
                    {% for post_tag in post.tags %}
                        {% for data_tag in site.data.tags %}
                            {% if data_tag.slug == post_tag %}
                                {% assign tag = data_tag %}
                            {% endif %}
                        {% endfor %}
                        {% if tag %}
                            {% capture tags_content_temp %}{{ tags_content }}<a href="/tags/{{ tag.slug }}/"><span class="label label-default">{{ tag.name }}</span>
</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
                            {% assign tags_content = tags_content_temp %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% assign tags_content = '' %}
                {% endif %}

                <p id="post-meta">{{ tags_content }}</p>
                
                <hr>

             <!--    <div class="text-center">
                    <h3>About Author</h3>
                        <p>Supakorn Laohasongkram's dream is to open a university where the goal of teaching is <em>to inspire the students</em> through real-practical work which purpose is aim at actually bettering their lives the lives of all people around them.</p>
                        <br><a href="/about" title="About Author">- Learn more here -</a>
                </div>
                <hr> -->

                
                <aside class="social-share text-center">
                    <h3>Share this on</h3>
                        <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}{% if page.description %}&text={{ page.description | url_escape }}{% else %}{{ page.title | url_escape }}{% endif %}{% if site.twitter %}&via={{ site.twitter }}{% endif %}" title="Share on Twitter"><i class="fa fa-twitter fa-2x"> </i></a>

                        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook fa-2x"> </i></a>

                        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><i class="fa fa-google-plus fa-2x"></i></a>
                </aside>
                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                <hr>

                <div id="disqus_thread"></div>
                <script>                
                var disqus_config = function () {
                    this.page.url = window.location.href;  
                    this.page.identifier = window.location.valueOf().pathname;
                };
            
                (function() { 
                var d = document, s = d.createElement('script');

                s.src = '//truehappiness.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

            </div>
        </div>
    </div>
</article>
</div>